@media (max-width: 1600px) {

    .footer .surya-locations ul li a{padding:0px 20px}
    .inner-banner h1{font-size:40px;}
    .my-account .wrapper h3{font-size:35px;}
    .my-account .wrapper h4{font-size:18px;}

}
@media (max-width: 1199.98px) {

    .product_description h3 {
        font-size: 24px;
    }

    .color-code {
        font-size: 14px;
    }

    .color-code .color {
        font-size: 16px;
    }

    .select-size {
        font-size: 14px;
    }

    .select-size span {
        font-size: 16px;
    }

    .size-guide {
        font-size: 14px;
    }

    .rating-delivery-block h4 {
        font-size: 15px;
    }

    .check-pin {
        font-size: 13px;
        top: 11px;
    }

    .delivery-option h4 {
        min-width: 90px;
    }

    .rating-bars {
        padding-right: 0%;
    }

    .rating-bar {
        padding-left: 10px;
    }

    .rating-bar .star-level {
        width: 15%;
    }

    .rating-bar .percentage {
        font-size: 10px;
    }

    .rating-summary h2 {
        font-size: 15px;
    }

    .text-rating {
        font-size: 14px;
    }

    .rating-summary .stars {
        font-size: .75rem;
    }

    .total_review a {
        font-size: 18px;
    }

    .item-details h3 {
        font-size: 16px;
    }

    .cart-container .price {
        font-size: 16px;
    }

    .cart-container .original-price {
        font-size: 14px;
    }

    .cart-container .discount {
        font-size: 14px;
    }

    .deliver-details h3 {
        font-size: 16px;
    }
    .flash-sale-wrap h5{font-size:24px;}
    #countdown{font-size:36px;line-height:36px;}
    .overlay-box{font-size:18px;line-height:24px;}
    .current-price{font-size:24px;}
    .actual-price{font-size:18px;}
    .offer-text{font-size:16px;}
    .view_all{font-size:18px;}
    .weare-everyone .overlay-box-2{font-size:18px;height:45px;line-height:45px;}
    .footer .single-footer.f-about p{font-size:11px;margin-top:10px;}
    .footer .single-footer.f-link li a{font-size:11px;}
    .footer .single-footer.f-link li{margin-bottom:10px;}
    .footer h3{font-size:14px;}
    .social_media li a img{width:70px;}
    .my-account .wrapper h3{font-size:28px;}
    .clabel{font-size:15px;}
    

}

@media (max-width: 991.98px) {

    .title-wrap .item_name h4 {
        font-size: 17px
    }

    .items-avaliable {
        font-size: 14px;
    }

    .items-avaliable:before {
        top: 3px;
    }

    .products .bx-right {
        margin-top: 0px;
    }

    .sort_by {
        padding: 2px 10px;
        margin-top: 5px;
    }

    .sort_by span {
        font-size: 14px;
    }

    .sort_by select {
        font-size: 14px;
    }

    .custom_accordion .accordion-button {
        padding: 10px 10px;
        font-size: 14px;
    }

    .custom_accordion .accordion-body {
        padding: 10px 10px;
    }

    .product-slider {
        height: 350px;
    }

    .product-slider .mySwiper {
        width: 70px;
        height: calc(100% - 40px);
    }

    .product-slider .mySwiper2 {
        width: calc(100% - 65px);
        height: 100%;
        position: relative;
        margin-left: 25px;
    }

    .thumbnail-button {
        margin-left: 33px;
    }

    .cart-item img {
        width: 70px;
    }

    .current-price {
        font-size: 22px;
    }

    .deliver-details {
        width: 100%;
        height: auto;
    }

    .thank-yoyu-message h3 {
        font-size: 18px;
    }

    .thank-yoyu-message p {
        font-size: 13px;
    }

    .goto-shoping {
        padding: 7px 20px;
    }

    .deliver-details {
        padding: 30px 20px;
    }
    .card-title {
        font-size: 14px;
    }
    .flash-sale .wrap{padding:50px 30px}
    .unit{margin-right:15px;}
    #countdown{font-size:28px;line-height:28px;}
    .footer-top .box-left{width:100%;}
    .footer-top .box-right{width:100%;text-align: center;margin-top:15px;}
    .social_media{justify-content:center;}
    .social_media li{margin-right:2%;}
    .footer .surya-locations ul li a{font-size:11px;padding:0px 10px}
}

@media (min-width: 768px) {

    .filter_ic {
        display: none;
    }

    #closePopup {
        display: none;
    }

    .btn_apply {
        display: none;
    }

}

@media (max-width: 767.98px) {


    .filter_ic {
        border: none;
        position: fixed;
        left: 30px;
        bottom: 30px;
        z-index: 55;
        background-color: #DFDFDF;
    }

    .filter_ic i {
        display: block;
        padding: 9px 10px;
        border-radius: 5px;
    }

    .filter_ic i img {
        width: 25px;
    }

    .btn_apply {
        width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
        border: none;
        background-color: #ff6b81;
        padding: 7px 7px;
        color: #fff;
        position: absolute;
        bottom: 5%
    }

    /* Popup container (hidden by default) */
    .popup {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 100;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        background-color: #fff;
        /* Black background with opacity */
        padding-top: 30px;
    }

    /* Popup content */
    .popup-content {
        position: relative;
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        /* Responsive width */
        background-color: white;
        border-radius: 10px;
    }

    /* Close button */
    #closePopup {
        position: absolute;
        top: 0px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }

    .product_description {
        padding-left: 0%;
        padding-top: 5%;
    }

    .product_description h3 {
        font-size: 18px;
    }

    .select-size {
        font-size: 13px;
    }

    .select-size span {
        font-size: 14px;
    }

    .color-code {
        font-size: 13px;
    }

    .color-code .color {
        font-size: 14px;
    }

    .size-guide {
        font-size: 14px;
    }

    .quantity-container .input-group .btn {
        height: 35px;
    }

    .btn-add-to-bag,
    .btn-buy-now {
        height: 35px;
    }

    .breadcrumb1 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .breadcrumb-item a {
        font-size: 12px;
    }

    .breadcrumb-item.active {
        font-size: 12px;
        padding-top: 3px;
    }

    .radio-wrapper label {
        height: 40px;
    }

    .delivery-option {
        padding-left: 10px;
        padding-top: 30px;
    }

    .item-details h3 {
        font-size: 14px;
    }

    .item-details .color,
    .item-details .size {
        font-size: 11px;
    }

    .item-details .color span {
        margin-left: 5px;
    }

    .item-details .size span {
        margin-left: 12px;
    }

    .cart-container .quantity label {
        font-size: 12px;
    }

    .quantity-container2 {
        margin-left: 10px;
    }

    .custom-head {
        font-size: 18px;
    }

    .price-details {
        margin-top: 30px;
    }

    .address_wrap {
        padding: 15px 15px;
    }

    .address_wrap .form-group {
        gap: 10px;
        margin-bottom: 10px;
    }

    .address-type-options label {
        font-size: 12px;
    }

    .buttons button {
        padding: 7px 14px;
    }

    .footer .single-footer.f-link li {
        margin-bottom: 6px;
    }

    .address-option label {
        font-size: 13px;
    }

    .address-option {
        padding: 15px 15px;
    }

    #paymentAccordion .accordion-button {
        font-size: 14px;
    }

    .form-check {
        font-size: 14px;
    }

    h3 {
        font-weight: 600;
        font-size: 25px;
    }

    .more_buttion {
        font-size: 15px;
    }

    .current-price {
        font-size: 23px;
    }

    .actual-price,
    .offer-text {
        font-size: 13px;
    }

    .footer h3 {
        font-size: 15px;
        margin-top: 25px;
    }

    .current-price {
        font-size: 16px;
    }

    .cart-total {
        font-size: 15px;
    }
    .social_media li {
        margin-right: 3%;
      }
      .search_btn{padding:5px 17px}
      .signin_text{font-size:0px;}
      /*.hero-area{padding:90px 0 20px 0;}*/
      .flash-product-block .box-wrap .current-price{padding:10px 5px}
      .overlay-box{padding:7px 10px}
      .view_all{font-size:15px;line-height:21px;}
      .flash-sale-wrap h5{font-size:16px;}
      #countdown{font-size:24px;line-height:24px;}
      .collection-box .block{padding:20px 20px}
      .collection-box .c-box{margin-top:0.5rem;margin-bottom:0.5rem;}
      .under599 .c-box{margin-bottom:2.5rem;}
      .custom_title_block{padding:15px 15px}
      .flash-sale{margin-top:20px;}
      .weare-everyone .wrap{padding:20px 20px}
      .weare-everyone .overlay-box-2{font-size:16px;}
      .explore_fetive_sollection .wrap{padding:20px 20px}
      .offer-slider-3-wrap .wrap{padding:20px 20px}
      .footer-top .box{width:50%;}
      .footer .single-footer{margin-top:0px;}
      .footer-top .box-3{width:100%;margin-top:15px;}
      .footer .surya-locations ul li{width:50%;}
      .surya-locations ul {
        flex-wrap: wrap; /* Allows wrapping on smaller screens */
        justify-content: center; /* Centers the content */
      }
    
      .surya-locations ul li {
        flex: 1 1 48%; /* Adjusts to 48% width for two items per row */
      }
      .footer .surya-locations ul li:after{display:none;}
      .footer .footer-top{padding:30px 0;}
      .offer-4-wrap .offer-4{padding:20px 20px}
      .my-account .wrapper h3{font-size:23px;}
      .my-account .wrapper h4{font-size:14px;}
      .header{padding-top:10px;padding-bottom:10px;}
}


@media (max-width: 575.98px) {

    .product-slider {
        height: 220px;
    }

    .product-slider .mySwiper {
        width: 50px;
        height: calc(100% - 40px);
    }

    .product-slider .mySwiper2 {
        width: calc(100% - 60px);
        margin-left: 15px;
    }

    .thumbnail-button {
        margin-left: 25px;
    }

    .cart-container .delivery {
        width: 100%;
    }

    .summary h4 {
        font-size: 16px;
    }

    .cart_item h4 {
        font-size: 14px;
    }

    .deliver-details h4 {
        font-size: 14px;
    }
    .flash-sale .wrap{padding:30px 20px}
    /*.hero-area{padding:90px 0 20px 0;}*/
    h3{font-size:19px;}
    .flash-sale-wrap h5{padding:10px 20px;font-size:14px;}
    #countdown{font-size:20px;padding:10px 10px}
    .flash-sale .wrap{background-image: none;}
    .flash-product-block{margin-top:30px;}
    .empty-page{padding:30px 30px;}
    .empty-page h4{font-size:18px;}
    .continue-shop{font-size:14px;}
    .empty-img{max-width:80%;}
    .inner-banner img{height:60px;}
    .inner-banner h1{font-size:18px;}
    .clabel{font-size:13px;}
    .terms{font-size:14px;}


}