@media (max-width: 991.98px) {

  .current-price {
    font-size: 22px;
  }

}


@media (max-width: 767px) {
  h3 {
    font-weight: 600;
    font-size: 25px;
  }

  .more_buttion {
    font-size: 15px;
  }

  .current-price {
    font-size: 23px;
  }

  .actual-price,
  .offer-text {
    font-size: 13px;
  }

  .footer h3 {
    font-size: 15px;
    margin-top: 25px;
  }

  .current-price {
    font-size: 16px;
  }
}